.div-content{
        display:flex;
        height:50%;
        background-color:whit;
        color:white;
        
      }
      .span-div{
        width:50%;
        text-align:center;
        padding-top:13%;
      }
       img{
        object-fit: contain;
        width:70%;
      }
      .content{
        width:50%;
        margin:0 auto;
      }
      button{
        margin-top:30px;
        padding:10px;
        background-color:rgb(219, 21, 21);
        border:none;
        margin-right:5px;
      }
      button a{
        text-decoration:none;
        color:white;
      }
      .name{
        color:white;
        font-size:50px;
        font-weight:500;
        text-align:center;
        
      }
      .greetings{
        color:rgb(219, 21, 21);
      }
      @media(max-width:768px){
        .div-content{
          flex-direction: column;
        }
        .span-div{
          width: 90%;
        }
        img{
        width:100%;
        margin-top: 30px;
      }
      }
       @media(max-width:480px){
        .div-content{
          flex-direction: column;
        }
        .span-div{
          width: 950%;
        }
        img{
        width:100%;
        margin-top: 30px;
      }
    }